= content_for(:sub_navigation) do
  = semantic_navigation :primary, :config => :bootstrap, :class => 'nav navbar-nav navbar-right' do |n|
    - n.item "#{octicon('gear')} Settings", [:settings, :repositories]
