%nav.navbar.navbar-default.navbar-repository{role: "navigation"}
  .container-fluid
    %p.navbar-text Repositories
    = link_to 'Add GitHub Repository', '/', :class => 'btn btn-default navbar-btn navbar-right'

.repositories
  .panel.panel-default
    %table.table.table-striped
      - @repositories.each do |repository|
        %tr
          %td= link_to repository.github_repo_name, repository
