.repositories
  %ol.breadcrumb.breadcrumb-navigation
    %li= link_to octicon('home'), :root
    %li.active Repositories

    .actions.pull-right
      = link_to [:settings, :repositories] ,class: 'btn btn-default btn-xs' do
        = octicon('settings')
        Settings

  = render 'repositories'
