.repositories
  %ol.breadcrumb.breadcrumb-navigation
    %li= link_to octicon('home'), :root
    %li.active Repositories

    .actions.pull-right
      = link_to [:new, :repository] ,class: 'btn btn-default btn-xs' do
        = octicon('plus')
        Add repository

  = render 'repositories'
