= content_for(:sub_navigation) do
  = semantic_navigation :primary, :config => :bootstrap, :class => 'nav navbar-nav navbar-right' do |n|
    - n.item octicon('three-bars'), [:settings, :repositories], data: { toggle: 'tooltip', placement: 'bottom', title: 'Settings' } 

.repositories
  - if @repositories.any?
    = render 'repositories'
  - else
    .alert.alert-info{ role: 'alert' }
      %strong Hi!
      You should probably
      = link_to 'add', [:settings, :repositories], class: 'alert-link'
      a new repository that should be inspected.
