.sidebar-content
  //= form_tag search_path, :method => :get, :class => 'search-form' do
  //= text_field_tag :query, params[:query], :placeholder => 'Search', :class => 'form-control'
  .header-logo= link_to image_tag('logo.png', class: 'logo'), :root

  %ul.list-unstyled
    %li
      = link_to mega_octicon('repo'), :repositories

.sidebar-footer
  = link_to octicon('sign-out'), :sign_out
