.row
  .col-md-3.col-md-offset-5
    %h1 Hemingway
    %p A web application to inspect the results of the static ruby code analyzer Rubocop.

    .guest--sign-in
      = link_to "#{octicon('mark-github')} Sign in with Github".html_safe, "/auth/github"
