body {
  background: #f5f5f5;
  padding-top: 20px;
}

a:hover {
  text-decoration: none;
}

.margin-top-40 {
  margin-top: 40px;
}

.flash {
  margin-top: 10px;
}

.logo {
  max-height: 15px;
}

.container--main {
  background: #fff;
  padding: 0;
}
