.inspections {
  table {
    td:first-child {
      width: 75%;
      text-align: left;
    }

    td {
      text-align: right;
    }
  }
}

.inspection {
  .label-severity-convention {
    padding: 2px;
    background-color: #FECEA8;
  }

  .label-severity-warning {
    padding: 2px;
    background-color: #FF847C;
  }

  .label-severity-error {
    padding: 2px;
    background-color: #E84A5F;
  }

  .label-severity-fatal {
    padding: 2px;
    background-color: #F7464A;
  }

  .code-severity-convention {
    padding: 2px 0 2px 0;
    background-color: rgba(254, 206, 168, 0.25);
  }

  .code-severity-warning {
    padding: 2px 0 2px 0;
    background-color: rgba(255, 132, 124, 0.25);
  }

  .code-severity-error {
    padding: 2px 0 2px 0;
    background-color: rgba(232, 74, 95, 0.25);
  }

  .code-severity-fatal {
    padding: 2px 0 2px 0;
    background-color: rgba(247, 70, 74, 0.25);
  }

  .stats {
    color: #999;

    .value {
      font-weight: bold;
    }
  }
}
