.navigation--logo{
  padding-top: 6px;
  max-height: 30px;
  margin-right: 10px;
}

.container-fluid.is-navigation {
  margin-left: 20px;
  margin-right: 20px;
}

.sub-navigation {
  top: 36px;
  z-index: 1020;
}
