.navbar-repository {
  border: 0;
}

.navbar-repository li.repo-title a,
.navbar-repository li.repo-title a:focus {
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  background-color: #E84A5F;
  color: #fff;
}

.navbar-repository li.repo-title a:hover,
.navbar-repository li.dropdown a.dropdown-toggle:hover,
.navbar-repository li.dropdown a.dropdown-toggle:focus, {
  background-color: #D7243C;
}

.navbar-repository li.dropdown a.dropdown-toggle {
  background-color: #E84A5F;
  color: #fff;
  border-left: 1px solid #D7243C;
}

.navbar-repository li.dropdown a:hover {
  background-color: #444;
}

.navbar-repository ul.dropdown-menu,
.navbar-repository ul.dropdown-menu a {
  color: #eee;
  background-color: #2A363B;
}

.navbar-repository ul.dropdown-menu a {
  color: #eee;
  background-color: #2A363B;
}

.navbar-repository li.repositories {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #666;
  background-color: #333;
}
