.navbar-repository {
  border: 0;
}

.navbar-repository .navbar-title {
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  color: #fff;
  float: left;
  margin: 0;
  padding: 15px;
  background-color: #E84A5F;
}
