.repository.is-mini-chart-bar {
  height: 5px;
  width: 100%;
  display: inline-block;
  background: #e0e0e0;
}

.repository.is-mini-chart-bar .repository--chart-bar {
  float: left;
  height: 100%;
}

.repository--last-run-at {
  color: #777;
}

table.repositories {
  th.name, td.name {
    width: 70%;
  }

  th.offenses, td.offenses {
    width: 20%;
  }

  th.severity, td.severity {
    text-align: center;
    width: 10%;
  }
}

.repository table {
  .conventions, .warnings, .errors, .fatals, .actions {
    text-align: right;
  }
}
