.repositories {
  ul {
    li {
      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border: 0;
      }

      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #eeeeee;
    }

    h4 {
      margin-bottom: 0;
    }

    .last_run_at {
      color: #999;
    }
  }

  .mini-chart-bar {
    height: 5px;
    width: 100%;
    display: inline-block;
    background: #e0e0e0;

    .chart-bar {
      float: left;
      height: 100%;
    }
  }
}

.repository table {
  .conventions, .warnings, .errors, .fatals, .actions {
    text-align: right;
  }
}
