.repositories {
  ul {
    li {
      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border: 0;
      }

      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #eeeeee;
    }

    .updated_at {
      color: #999;
    }
  }
}

.repository table {
  .conventions, .warnings, .errors, .fatals, .actions {
    text-align: right;
  }
}
