.runs .runs--first {
  width: 50px;
}

.runs .severity-success {
  color: #83AF9B;
}

.runs .severity-violated {
  color: #FECEA8;
}

.runs .severity-failed {
  color: #FF847C;
}

.run .run--sequence-switcher {
  margin-bottom: 15px;
}
