.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #2A363B;
  color: white;

  a  {
      color: #ccc;
  }

  .sidebar-content {
    margin-top: 20px;

    ul {
      li {
        text-align: center;
        padding: 15px;

        &:hover {
          background-color: #23292C;
        }
      }
    }

    .header-logo {
      text-align: center;
      margin-bottom: 10px;

      .logo {
        max-width: 55px;
      }
    }
  }

  .sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #23292C;
    text-align: center;

    img.img-circle {
      max-width: 30px;
    }

    a:hover {
      color: #888;
    }
  }

}
