= render 'repositories/repository_navigation'

.run
  .run--sequence-switcher
    = sequence_switcher(@run)

  .panel.panel-default.inspections
    - if @run.inspections.any?
      = render 'inspections'
    - else
      .panel-body
        .alert.alert-info{ role: 'alert' }
          %strong Hooray!
          Everything is fine!
