= render 'repositories/repository_navigation'

.inspections
  - if @run.inspections.any?
    = render 'inspections'
  - else
    .alert.alert-info{ role: 'alert' }
      %strong Hooray!
      Everything is fine!
