= content_for(:sub_navigation) do
  = semantic_navigation :primary, :config => :bootstrap, :class => 'nav navbar-nav' do |n|
    - n.item octicon('arrow-left'), @run.repository, data: { toggle: 'tooltip', placement: 'bottom', title: 'Go back' }

.inspections
  - if @run.inspections.any?
    = render 'inspections'
  - else
    .alert.alert-info{ role: 'alert' }
      %strong Hooray!
      Everything is fine!
